<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    
    <script  src="/javascripts/jquery.js"> </script>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <script>
    $(document).ready(function() {
     function disablePrev() { window.history.forward() }
     window.onload = disablePrev();
     window.onpageshow = function(evt) { if (evt.persisted) {disableBack();} 
    }
  });
</script>
  <body> 
        <div class="bg-image"></div>
    <div class="home">
      <h1>Log in</h1>
      <form action="/login/auth" method="POST"><center>
                <label type="text" name="response" class="response"><%=message%></label></center><br><br>
        <input type="text" name="username" placeholder="Enter Username" required>
                <input type="password" name="password" placeholder="Enter Password" required>
                <input type="submit" value="Log in">
                <br>
            </form>
            <form action="/">
                <input id="btn2" type="submit" value="Sign up">
            </form>
    </div>
  </body>
</html>
