<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title>App</title>
<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<script src="/javascripts/jquery.js"></script>
<body> 
    <div class="bg-image"></div>
<div class="home">
  <h1 id="signup">Sign up</h1>
  <form action="signup"  method="POST">
    <% var message %>
    <center><p  type="text" name="response" class="response"><%= message %></p></center>
    <input type="text" name="username" placeholder="Create Username" required>
            <input  type="password" name="password" placeholder="New Password " minlength="6">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="submit" value="Sign up">
            <br>
        </form>
        <form action="login" method="GET">
            <center> <label class="lbl">Already have an account? </label><button class="btn" type="submit" >Sign in</button></center>
        </form>
        
</div>
      <script>
     
      </script>
  </body>
</html>
