html{
    background-image:url('/images/background.jpg');
    backdrop-filter: blur(5px);
}
.home {
    width: 350px;
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;;
    margin: 30%;
    float: center;
    margin-top:10%; 
    border: 2px solid #ffffff;;
    font-family: Tahoma, Geneva, sans-serif;
    box-shadow: 2px 2px 2px rgb(126, 124, 124);
    backdrop-filter: blur(45px);
   }
   .home h1 {
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    padding: 5px 0 5px 0;
}
.home input{
    width: 100%;
    padding: 15px;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
    box-sizing:border-box;
    transition: 0.5s;
    background-color: #ffffff;
    text-decoration-color: #ffffff;
    box-shadow: 2px 2px 2px rgb(126, 124, 124);
}
.home input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
::placeholder{
    color: black;
}
.btn{
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #19164d;
}
.response{
    color: rgba(255, 0, 0, 0.788) ;
    font-size: 20px;
    font-weight: bold;
}